<div class="container">
  <h1>Reviews#new</h1>

  # app/views/reviews/new.html.erb
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :content %>
    <%= f.input :rating %>
    <%= f.submit "add a review", class: "btn btn-primary" %>
  <% end %>
</div>
